@model IEnumerable<ASIVesteLoja.Models.Produto>

@{
    ViewBag.Title = "Produtos";
}

<h2>Produtos</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@using (Html.BeginForm())
{
    <p>
        Pesquisa por Código/Designação: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" /></p>
}
<table>
    <tr>
        <th><u>
            @Html.ActionLink("Código", "Index", new { sortOrder = ViewBag.CodigoSortParm })
        </u></th>
        <th><u>
            @Html.ActionLink("Designação", "Index", new { sortOrder = ViewBag.DesignacaoSortParm })
        </u></th>
        <th><u>
            @Html.ActionLink("Stock", "Index", new { sortOrder = ViewBag.StockQtdSortParm })
        </u></th>
        <th><u>
            @Html.ActionLink("Preço", "Index", new { sortOrder = ViewBag.PrecoSortParm })
        </u></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockQtd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
@*        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProdutoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProdutoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProdutoID })
        </td>
*@
    </tr>
}

</table>
