@model IEnumerable<ASIVesteLoja.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockQtd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockQtd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
@*        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProdutoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProdutoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProdutoID })
        </td>
*@
    </tr>
}

</table>
