@model PagedList.IPagedList<ASIVesteSede.Models.Produto>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Produtos";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Inserir Novo", "Create")
</p>

<p>
    @Html.ActionLink("Ver Stock", "Stock")
</p>
@using (Html.BeginForm("Index", "Produto", FormMethod.Get))
{
    <p>
        Pesquisa por Código/Designação: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table>
    <tr>
        <th><u>
            @Html.ActionLink("Código", "Index", new { sortOrder = ViewBag.CodigoSortParm, currentFilter=ViewBag.CurrentFilter })
        </u></th>
        <th><u>
            @Html.ActionLink("Designação", "Index", new { sortOrder = ViewBag.DesignacaoSortParm, currentFilter=ViewBag.CurrentFilter })
        </u></th>
        <th><u>
            @Html.ActionLink("Tipo", "Index", new { sortOrder = ViewBag.TipoSortParm, currentFilter=ViewBag.CurrentFilter })
        </u></th>
        <th><u>
            @Html.ActionLink("Fornecedor", "Index", new { sortOrder = ViewBag.FornecedorSortParm, currentFilter=ViewBag.CurrentFilter })
        </u></th>
        <th><u>
            @Html.ActionLink("Stock", "Index", new { sortOrder = ViewBag.StockQtdSortParm, currentFilter=ViewBag.CurrentFilter })
        </u></th>
        <th><u>
            @Html.ActionLink("Stock Mínimo", "Index", new { sortOrder = ViewBag.StockMinimoSortParm, currentFilter=ViewBag.CurrentFilter })
        </u></th>
        <th><u>
            @Html.ActionLink("Preço", "Index", new { sortOrder = ViewBag.PrecoSortParm, currentFilter=ViewBag.CurrentFilter })
        </u></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designacao)
        </td>
        <td>
             @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockQtd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockMinimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProdutoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProdutoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProdutoID })
        </td>
    </tr>
}

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", 
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))