@model IEnumerable<ASIVesteLoja.Models.Venda>

@{
    ViewBag.Title = "Vendas";
}

<h2>Vendas</h2>

<p>
    @Html.ActionLink("Efectuar Venda", "Create")
</p>
<br />
<p class="message-success">
    @ViewBag.sucesso 
</p>
@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moradaCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numItems)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moradaCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numItems)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VendaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VendaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VendaID })
        </td>
    </tr>
}

</table>*@
