@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
       Esta aplicação foi criada no contexto da disciplina de ASI (Arquitectura de Sistemas de Informação)
         do Mestrado de Informática e Computadores do ISEL
    </p>

    <p>
       E foi realizada em no ano de 2013/2014 por um grupo de alunos constituido por:
    </p>
    <ol>
        <li>David Coelho </li>
        <li>Frederico Ferreira</li>
        <li>Rui Miranda</li>
    </ol>

    <p>
        O objectivo da aplicação é demonstrar a decomposição da aplicação em camadas (3 camadas no formato MVC) e 
        a integração de sistemas distribuídos geográficamente, trabalhando os aspectos de replicação e autonomias dos 
        diferentes locais. 
        O contexto de exploração era apresentado num enunciado que tinha por objectivo também o excercitar dos conceitos e técnicas aprendidos.

    </p>
</article>

<aside>
    <h3>Informação adicional </h3>
    <p>
        Em construção.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>