@model IEnumerable<ASIVesteSede.Models.Venda>

@{
    ViewBag.Title = "Vendas";
}

<h2>Index</h2>

<p>
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoradaCliente)
        </th>
        <th>Estado</th>
        <th>Produtos</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoradaCliente)
        </td>
        <td>
             @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            <table>
            @foreach( var prod in item.Produtos ) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => prod.Codigo )
                    </td>
                    <td>
                       @Html.DisplayFor(modelItem => prod.Qtd )
                    </td>
                </tr>    
            }
            </table>

        </td>
        <!-- <td>

            @Html.ActionLink("Edit", "Edit", new { id=item.VendaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VendaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VendaID })
        </td> -->
    </tr>
}

</table>
